header {
  background-color: black;
  padding: 20px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Logo {
  width: 50px; /* Ajustamos el tamaño del logo */
  height: auto;
}

.title {
  color: white;
  font-size: 24px;
}

.subtitle {
  color: white;
  font-size: 18px;
}